# Xilinx Spartan-3E Starter Board
# User Control File (UCF)  s3esb.ucf 

# Crystal Clock Oscillator
NET	"CCLK"	LOC = "C9" 	| IOSTANDARD = LVCMOS33;
NET  "CCLK"		PERIOD = 20.0ns HIGH 40%;

# Slide Switches
NET 	"SW<0>"			LOC = "L13"	| IOSTANDARD = LVTTL	| PULLUP;
NET 	"SW<1>"			LOC = "L14" | IOSTANDARD = LVTTL	| PULLUP;
NET 	"SW<2>"			LOC = "H18" | IOSTANDARD = LVTTL	| PULLUP;
NET 	"SW<3>"			LOC = "N17" | IOSTANDARD = LVTTL	| PULLUP;

# Push Buttons
#NET 	"BTN0"		LOC = "V4"	| IOSTANDARD = LVTTL	| PULLDOWN;	# north pushbutton 
#NET 	"BTN1"		LOC = "H13" | IOSTANDARD = LVTTL	| PULLDOWN;	# east  pushbutton
NET 	"BTN2"		LOC = "K17" | IOSTANDARD = LVTTL	| PULLDOWN;	# south pushbutton
#NET 	"BTN3"		LOC = "D18" | IOSTANDARD = LVTTL	| PULLDOWN;	# west  pushbutton

# Rotary Shaft Encoder
#NET	"ROTA"		LOC = "K18"	| IOSTANDARD = LVTTL	| PULLUP;
#NET	"ROTB"		LOC = "G18"	| IOSTANDARD = LVTTL	| PULLUP;
#NET	"ROTCTR"		LOC = "V16"	| IOSTANDARD = LVTTL	| PULLDOWN;

# LEDs
NET 	"LED<0>"			LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW; 
NET 	"LED<1>"			LOC = "E12"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LED<2>"			LOC = "E11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LED<3>"			LOC = "F11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LED<4>"			LOC = "C11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LED<5>"			LOC = "D11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LED<6>"			LOC = "E9"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LED<7>"			LOC = "F9"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;

# Liquid Crystal Display
NET 	"LCDE"		LOC = "M18"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET 	"LCDRS"		LOC = "L18"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET 	"LCDRW"		LOC = "L17"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET 	"LCDDAT<0>"	LOC = "R15"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET 	"LCDDAT<1>"	LOC = "R16"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET 	"LCDDAT<2>"	LOC = "P17"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET 	"LCDDAT<3>"	LOC = "M15"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# VGA Display
#NET 	"RD"			LOC = "H14"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
#NET 	"GR"			LOC = "H15"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
#NET 	"BL"			LOC = "G15"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
#NET 	"HS"			LOC = "F15"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
#NET 	"VS"			LOC = "F14"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

# RS-232 Port
#NET 	"DCERXD"		LOC = "R7"	| IOSTANDARD = LVTTL;
#NET 	"DCETXD"		LOC = "M14"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
#NET 	"DTERXD"		LOC = "U8"	| IOSTANDARD = LVTTL;
#NET 	"DTETXD"		LOC = "M13"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;

# PS/2 Mouse or Keyboard Port
#NET 	"PS2DAT"		LOC = "G13"	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
#NET 	"PS2CLK"		LOC = "G14"	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

# Peripheral Port A
#NET	"JA1"			LOC = "B4"	| IOSTANDARD = LVCMOS33;
#NET	"JA2"			LOC = "A4"	| IOSTANDARD = LVCMOS33;
#NET	"JA3"			LOC = "D5"	| IOSTANDARD = LVCMOS33;
#NET	"JA4"			LOC = "C5"	| IOSTANDARD = LVCMOS33;

# Peripheral Port B
#NET	"JB1"			LOC = "A6"	| IOSTANDARD = LVCMOS33;
#NET	"JB2"			LOC = "B6"	| IOSTANDARD = LVCMOS33;
#NET	"JB3"			LOC = "E7"	| IOSTANDARD = LVCMOS33;
#NET	"JB4"			LOC = "F7"	| IOSTANDARD = LVCMOS33;

# Peripheral Port C
#NET	"JC1"			LOC = "D7"	| IOSTANDARD = LVCMOS33;
#NET	"JC2"			LOC = "C7"	| IOSTANDARD = LVCMOS33;
#NET	"JC3"			LOC = "F8"	| IOSTANDARD = LVCMOS33;
#NET	"JC4"			LOC = "E8"	| IOSTANDARD = LVCMOS33;

# Programmable Gain Amplifier
#NET	"AMPCS"		LOC = "N7"	| IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW; 
#NET	"AMPSD"		LOC = "P7"	| IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW;
#NET	"AMPDO"		LOC = "E18" | IOSTANDARD = LVCMOS33;

# Digital to Analog Converter
#NET	"DACCLR"		LOC = "P8"	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
#NET	"DACCS"		LOC = "N8"	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

# Analog to Digital Converter
#NET	"ADCON"		LOC = "P11"	| IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW;

# SPI Bus Signals
#NET	"SPIMOSI"	LOC = "T4"	| IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW;
#NET	"SPIMISO"	LOC = "N10"	| IOSTANDARD = LVCMOS33;
#NET	"SPISCK"		LOC = "U16"	| IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW;

# SPI BUS Disable
#NET	"SPISF"		LOC = "U3"	| IOSTANDARD = LVCMOS33 | DRIVE = 6 | SLEW = SLOW;
#NET	"SFCE"		LOC = "D16"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# FPGA Configuration
#NET "FPGAM0" LOC="M10"	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "FPGAM1" LOC="V11"	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "FPGAM2" LOC="T10"	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "FPGAIB" LOC="T3"	| IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
#NET "FPGARW" LOC="M10"	| IOSTANDARD=LVCMOS33 | DRIVE=4 | SLEW=SLOW;
#NET "FPGAHS" LOC="M10"	| IOSTANDARD=LVCMOS33;
	
# DDR SDRAM Address Bus
#NET 	"SDA<12>" 	LOC = "P2"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<11>" 	LOC = "N5"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<10>" 	LOC = "T2"	| IOSTANDARD = SSTL2_I;
#NET  "SDA<9>"		LOC = "N4"	| IOSTANDARD = SSTL2_I;
#NET	"SDA<8>"		LOC = "H2"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<7>"		LOC = "H1"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<6>" 	LOC = "H3"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<5>"		LOC = "H4"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<4>"		LOC = "F4"	| IOSTANDARD = SSTL2_I;
#NET  "SDA<3>"    LOC = "P1"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<2>" 	LOC = "R2"	| IOSTANDARD = SSTL2_I;
#NET 	"SDA<1>" 	LOC = "R3"	| IOSTANDARD = SSTL2_I; 
#NET 	"SDA<0>" 	LOC = "T1"	| IOSTANDARD = SSTL2_I; 

# DDR SDRAM Control Bus
#NET 	"SDBA<0>"	LOC = "K5"	| IOSTANDARD = SSTL2_I;
#NET	"SDBA<1>"	LOC = "K6";	| IOSTANDARD = SSTL2_I;
#NET 	"SDCAS" 		LOC = "C2"	| IOSTANDARD = SSTL2_I;
#NET 	"SDCKN" 		LOC = "J4"	| IOSTANDARD = SSTL2_I;
#NET 	"SDCKP" 		LOC = "J5"	| IOSTANDARD = SSTL2_I;
#NET 	"SDCKE" 		LOC = "K3"	| IOSTANDARD = SSTL2_I;
#NET 	"SDCS" 		LOC = "K4"	| IOSTANDARD = SSTL2_I;
#NET 	"SDLDM"		LOC = "J2"	| IOSTANDARD = SSTL2_I;
#NET 	"SDLDQS" 	LOC = "L6"	| IOSTANDARD = SSTL2_I;
#NET 	"SDRAS"		LOC = "C1"	| IOSTANDARD = SSTL2_I;
#NET 	"SDUDM"		LOC = "J1"	| IOSTANDARD = SSTL2_I;
#NET 	"SDUDQS"		LOC = "G3"	| IOSTANDARD = SSTL2_I;
#NET 	"SDWE"		LOC = "D1"	| IOSTANDARD = SSTL2_I;

# DDR SDRAM Data Bus
#NET 	"SDD<0>" 	LOC = "L2	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<1>" 	LOC = "L1	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<2>" 	LOC = "L3	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<3>" 	LOC = "L4 	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<4>" 	LOC = "M3	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<5>" 	LOC = "M4	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<6>" 	LOC = "M5	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<7>" 	LOC = "M6	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<8>" 	LOC = "E2	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<9>" 	LOC = "E1	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<10>" 	LOC = "F1	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<11>" 	LOC = "F2	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<12>" 	LOC = "G6	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<13>" 	LOC = "G5	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<14>" 	LOC = "H6	| IOSTANDARD = SSTL2_I;
#NET 	"SDD<15>" 	LOC = "H5	| IOSTANDARD = SSTL2_I;

#DDR SDRAM DCM
#NET	"SDCKFB"		LOC = "B9"	| IOSTANDARD = LVCMOS33;

#Prohibit Use of Vref Pins
#CONFIG PROHIBIT = D2;
#CONFIG PROHIBIT = G4;
#CONFIG PROHIBIT = J6;
#CONFIG PROHIBIT = L5;
#CONFIG PROHIBIT = R4;
